python -m pip install --upgrade pip
pip install openai-whisper PySide6 arabic-reshaper python-bidi json5
pip install imageio-ffmpeg

pip install openai-whisper PySide6 parsivar arabic-reshaper python-bidi
 

PySide6
openai-whisper
arabic-reshaper
python-bidi


PySide6==6.6.0
whisper
persian-tools
tqdm
torch
numpy
TTS==0.22.0
